---
import { BackButton } from '@/components/BackButton';
import LinkButton from '@/components/LinkButton';
import Layout from '@/layouts/Layout.astro';
import { HomeIcon } from 'lucide-react';
---

<Layout title="404 Not Found | arcade.wiki">
  <div class="flex flex-col p-6 grow items-center justify-center">
    <h1 class="mb-4 font-bold text-2xl">404 Not Found</h1>
    <div class="flex gap-4">
      <BackButton client:load />

      <LinkButton href="/" variant="ghost">
        <HomeIcon className="mr-2 size-4" />
        Home
      </LinkButton>
    </div>
  </div>
</Layout>
